.clockWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.clockSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.textFieldClock {
    max-width: 100px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.clockDigital {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.clockFace {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid rgba(99, 99, 99, 0.2);
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hourHand,
.minuteHand,
.secondHand {
    position: absolute;
    background-color: #000;
    transform-origin: bottom center;
}

.hourHand {
    width: 6px;
    height: 60px;
    top: 40px;
    left: 97px;
    border-radius: 6px 6px 0 0;
}

.minuteHand {
    width: 4px;
    height: 80px;
    top: 20px;
    left: 98px;
    border-radius: 4px 4px 0 0;
}

.secondHand {
    width: 2px;
    height: 90px;
    top: 10px;
    left: 99px;
    border-radius: 2px 2px 0 0;
    background-color: red; /* Цвет для секундной стрелки */
}




