select {
    max-width: 70px;
}
.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    padding: 5px 10px;
    color: darkblue;
    font-size: 20px;
    min-width: 70px;

}

.menu {
    padding: 10px;
    position: absolute;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item {
    font-size: 20px;
    transition: 0.4s;
}

.selected {
    background-color: lightblue;
}
